#subtitle_player {
    background-color: #000000;
}

#subtitle_player .sub-btn {
    float: right;
    padding-right: 5px;
    padding-bottom: 5px;
}

#subtitle_player .srt-textarea{
    color: #FFFFFF;
    min-height: 70px;
    text-align: center;
    position: relative;
    padding: 5px;
}

#subtitle_player .bottom-tool{
    overflow: auto;
}

.video_asset {
    position: relative;
    width: 640px;
    bottom: 40px;
}

#youkuplayer {
    margin-top: 100px;
    height: 498px;
}

